body{
    background-color: papayawhip;
}         

* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

header,footer, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}

header {
  background: papayawhip;
  position: sticky;
  height: 100px;
  top: 0;
  color: black;
  justify-content: space-between;
  padding: 0 20px;
}


nav a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
  font-size: 2.5vh;
}


section:nth-child(1) {
  height: 100vh;
  background-image: url("images/philip-oroni-NDnrY4LjFDU-unsplash.jpg"); 
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  display: flex;                
  justify-content: center;
  align-items: center;
  color: white;                 
  text-shadow: 2px 2px 5px black;

  
}

section#hero .motivacional {
  position: absolute; 
  bottom: 20%;          
  left: 10%;            
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 8px black; 
}

section#projetos {
  font-size: 20px;
  text-align: left;
}

section#projetos .ProjetosText{
  text-align:center;
}

section#projetos .ProjetosTittle {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.ProjetosLista {
  list-style: none;
  margin: 0 auto;          
  padding: 0;
  display: flex;
  flex-wrap: wrap;         
  gap: 20px;               
  justify-content: center; 
  max-width: 1000px;       
}


.LabBox , .TecBox {
  list-style: none;
  flex: 1 1 250px;        
  max-width: 300px;        
  padding: 15px;
  background: #EA1744 ;
  border-radius: 6px;
  box-sizing: border-box;
  text-align: center;      
  box-shadow: 20px 20px 10px rgba(0,0,0,0.1); 
}


.LabBox a {
  font-weight: bold;
  color:papayawhip ;
}

.LabDesc {
  margin: 5px 0 0;
  font-size: 0.9rem;
  color: papayawhip;
}



section:nth-child(2) {
  height: 100vh;
  background: papayawhip;
  justify-content: left;
}

section:nth-child(3) {
  height: 100vh;
  justify-content: left;
}

footer {
  height: 10vh;
  background: black;
  color: white;
}

.TecElements{
  font-size: 20px;
  color: papayawhip;
  margin: 10px 0;
}

section#disciplina .DisText{
  font-size: 20px;
  text-align: center;
  margin: 0 10%;
  line-height: 1.6;
}


section#disciplina {
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

section#disciplina .TecContainer{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}
